.security-container {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    min-height: 300px;     
    width: 100%;
  }

  .password-fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 450px;
  }

  .helper-text {
    font-size: 13px;
    color: #666;
    font-style: italic;
    margin-bottom: 24px;
    text-align: center; 
  }

  .error-text {
    font-size: 0.75rem;
    margin-top: -17px;
    margin-left: 3px;
  }