<div class="security-container">
      <p class="helper-text">Enter 'Old Password' only if you want to change your password.</p>
      
      <div class="password-fields">
        @let newPwd = parentForm.get('newPassword');
        @let confirmPwd = parentForm.get('confirmNewPassword');
        <app-text-input 
          label="Old Password" 
          controlName="oldPassword" 
          type="password">
        </app-text-input>

        <app-text-input 
          label="New Password" 
          controlName="newPassword" 
          type="password">
        </app-text-input>

        <app-text-input 
          label="Confirm New Password" 
          controlName="confirmNewPassword" 
          type="password">
        </app-text-input>
        
        @if (parentForm.hasError('passwordMismatch') && (newPwd?.touched || confirmPwd?.touched)) {
          <mat-error class="error-text">Passwords do not match.</mat-error>
        }

        @if (parentForm.hasError('sameAsOld') && newPwd?.touched) {
          <mat-error class="error-text">New password cannot be the same as your old password.</mat-error>
        }
      </div>
    </div>